<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme color" content="#8257E5">
    <meta name="google-site-verification" content="TTcyGj83u05HVuncNzWxYH9L93xA0-0STp6HWgzILzs" />
  
    <link rel="shortcut icon" href="images\logo.png" type="images/png">
    <title>HORCRUX</title>
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/partials/page-landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
</head>
<body id="page-landing">
    
    <div id="container">
        
        <div class="logo-container">
            <a href="https://www.instagram.com/horcruxlives/?r=nametag" ><img src="images/instagram.svg" id="ig"alt="instagran"></a>
      <a href="https://www.youtube.com/channel/UCkW7zahU4GoTdbtTaVLZa5w"><img src="images/youtube.svg"  id="yt" alt="youtube"></a>
                <h1>Horcrux</h1>
            
            <h2>Gentileza gera gentileza!</h2>
        </div>
       
        <div class="buttons-container">
            <a class="doar" href="donate.html">Ajudar</a>
            <a class="cadastro" href="register.html">Cadastro</a>
            <a class=" saiba-mais " href="more.html">Saiba mais</a>
            
        </div>
<img class="hero-image" src="images\index2.svg" alt="banner">


       
           <p class="total-connections">"Portanto, Eu vos recomendo: usai as riquesas desse mundo ímpio para ajudar o proximo e ganhai amigos,
            para que quando aquelas chegarem ao fim, esses amigos vos recebam com alegria nas moradas eternas"
            -Jesus Cristo
              
           </p>
               
        </div>




        

</body>
</html>