<html>
<head>
<title>log</title>
<!-- Include JS File Here -->
<!--<script src="scripts\login.js"></script>-->
</head>
<body>
<div class="container">
<form action="/loged" method="POST" name="myform" id="logate">
<label>User Name :</label><br>
<input type="text" name="username" id="username" required><br>
<label>Password :</label><br>
<input type="password" name="password" id="password" required>
<input type="submit" value="Login" name="log" form="logate" >
<input type="button" value="cancel" onclick="window.location.href ='/' ">
</form>
</div>
</body>
</html>