<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme color" content="#8257E5"> 
    <link rel="shortcut icon" href="images/logo.png">
    <title>Horcrux</title>

    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@200;400;700&amp;family=Poppins:wght@400;600&amp;display=swap"
    rel="stylesheet">


    <link rel="stylesheet" href="styles/partials/header.css">
    <link rel="stylesheet" href="styles/partials/more.css">
    <link rel="stylesheet" href="styles/partials/forms.css">
    
</head>
<body id="pageMore"> 

    <div id="container">

        <header class="page-header">

            <div class="top-bar-container">
              <a href="/">
                <img src="images/icons/back.svg" alt="Voltar">
              </a>
             
              <img src="images/logo.png" alt="Horcrux" id="logo">
            </div> 
            <div class="header-content">
              <strong></strong>
             
          </header>
          <main>
 
    
    <fieldset>
      <legend>O que é a horcrux  ?</legend>
    <div class="txt">
        <p>
          A (Horcrux) é uma plataforma de doações focada no público maranhense e com intereses fundamentais em proporcionar ajuda <br> 
          de todas as formas sociais, através de projetos de "bairros", nos quais a Horcrux ajuda financeiramente com a arrecadação de doações em nossa plataforma.  </p>

          <h1>Quais os objetivos do projeto ?</h1>

        <p> Com o início da pandemia em razão do (Covid-19) muitos projetos sociais que ajudam pessoas na capital do Maranhão estiveram suas atividades suspensas por falta de financiamento. 
          A Horcrux surgiu com a intenção de ajudar quem ajuda. Uma plataforma desenvolvida para entregar visibilidade e facilidade para
           instituições não gorvernamentais e também pessoas físicas. O foco da Horcrux é ajudar instituições a se financiarem por meios das doações, 
           mas além desse propósito é "ajudar de verdade quem realmente precisa". O projeto está em desenvolvimento e esperamos implementar uma funcionalidade
            de apoio a pessoas com "doenças" pisicologicas como a: (Depressão) e etc... Com ajuda de profissionais solidários da área. Tudo de forma digital e simplificada.. <br>
        
        </p>
    </div>


    </fieldset>
                

    <footer>
      <h3>entre contato conosco: </h3>
      <p>email: horcruxong@yandex.com  </p>
      <a href="https://api.whatsapp.com/send?l=pt_BR&phone=55%20(98)%20988430394" style="color: #769d76;"><img src="images\icons\whatsapp.svg" alt="whatsapp"> whatsapp</a><br><br>
      <h3>ajude a manter nossa plataforma!</h3>
     <a href="https://www.paypal.com/donate/?cmd=_s-xclick&hosted_button_id=6SQUPKNZQXKKA" id="doar"> DOAR</a>
    </footer>
            


          </main>

    </div>
   
</body>
</html>